.FPW0002-footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 10px 0;
  }
  
  .FPW0002-footer h4 {
    color: #fff;
  }
  
  .FPW0002-footer ul {
    list-style-type: none;
    padding: 0;
  }
  
  .FPW0002-footer ul li {
    margin-bottom: 10px;
  }
  
  .FPW0002-footer ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .FPW0002-footer ul li a:hover {
    color: #ccc;
  }
  
  .FPW0002-footer form {
    margin-top: 20px;
  }
  
  
  .FPW0002-footer form button {
    background-color: #1abc9c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .FPW0002-footer form button:hover {
    background-color: #16a085;
  }
  
  .FPW0002-footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .FPW0002-footer-column {
    width: 16%;
    padding: 0 15px;
  }
  
  @media screen and (max-width: 768px) {
    .FPW0002-footer-column {
      width: 70%;
      margin-bottom: 30px;
    }
  }
  
  
  .FPW0002-footer-text-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }